<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Subtraction</title>
</head>
<body>
<h1><p>Hello. Please choose the page below!</p></h1><hr><br>
<ul>
<li><a href="{{ url_for('sub', a=5 , b=2) }}">Subtraction</a></li><br>
<li><a href="{{ url_for('div', a=5 , b=2) }}">Division</a></li><br>
<li><a href="{{ url_for('sum', a=5 , b=2) }}">Addition</a></li><br>
<li><a href="{{ url_for('mult', a=5 , b=2) }}">Multiplication</a></li><br>
</ul>
</body>
</html>